<!-- Remove the container if you want to extend the Footer to full width. -->


<div class="" style="background-color: hsl(0, 0%, 15%);">

    <footer class="text-center text-lg-start mt-xl-5 pt-4" >
    <!-- Grid container -->
    <div class="container p-4 text-white">
      <!--Grid row-->
      <div class="row text-white">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-white">
          <h5 class="text-uppercase mb-4">OUR WORLD</h5>

          <ul class="list-unstyled mb-4">
            <li>
              <a href="#!" class="text-white">About us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Collections</a>
            </li>
            <li>
              <a href="#!" class="text-white">Environmental philosophy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Artist collaborations</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Assistance</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Contact us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Size Guide</a>
            </li>
            <li>
              <a href="#!" class="text-white">Shipping Information</a>
            </li>
            <li>
              <a href="#!" class="text-white">Returns & Exchanges</a>
            </li>
            <li>
              <a href="#!" class="text-white">Payment</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Careers</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Jobs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Sign up to our newsletter</h5>

          <div class="form-outline form-white mb-4">
            <input type="email" id="form5Example2" class="form-control" placeholder="Enter your email" />
            <label class="form-label" for="form5Example2">Email address</label>
          </div>

          <button type="submit" class="btn btn-outline-white btn-block">Subscribe</button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-white">
      © 2024 Copyright:
      <a class="text-white" href="https://github.com/himanshuVaishnav29">Himanshu Vaishnav</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->