<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/header")%>
    <title>ADD BLOG</title>
    <style>
      .require {
          color: #666;
      }
      label small {
          color: #999;
          font-weight: normal;
      }
      body{
          background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
      }
      .inputFieldStyling{
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        
      }
    </style>
</head>
<body>
    <%-include('./partials/navBar')%>
    <!-- <%= JSON.stringify(user)%> -->
    <!-- <div class="container">
        <form>
            

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input placeholder="Enter title" type="text" id="form3Example3c" class="form-control"/>
                  <label class="form-label" for="form3Example3c">Your Email</label>
                </div>
              </div>


            <div data-mdb-input-init class="form-outline mb-4">
                <textarea class="form-control" id="textAreaExample6" rows="3" placeholder="Enter body...."></textarea>
                <label class="form-label" for="textAreaExample6"></label>
              </div>
            <button type="submit">PUBLISH</button>
        </form>
    </div> -->



    <div class="container">
      <div class="row">
          
          <div class="col-md-8 col-md-offset-2">
              
            <h1 style="color: white;">Create new post</h1>
            
            <form action="/blog/addNewBlog" method="POST" enctype="multipart/form-data">
                

                
                <div class="form-group">
                    <label for="title" style="color: white;">Title <span class="require" style="color: white;">*</span></label>
                    <input type="text" class="form-control inputFieldStyling" name="title" id="title" required />
                </div>
                
                <div class="form-group">
                    <label for="description" style="color: white;">Body<span class="require" style="color: white;">*</span></label>
                    <textarea rows="5" class="form-control inputFieldStyling" name="description" id="description" required ></textarea>
                </div>
                
                <div class="form-group">
                  
                  <br>
                  <label for="coverImage" style="color: white;">Cover Image<span class="require" style="color: white;"></span></label><br>

                  <input type="file" name="coverImage" id="coverImage" class="form-control inputFieldStyling"  />
              </div>
                
                <div class="form-group">
                  <br>
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                </div>
                
            </form>
        </div>
        
      </div>
    </div>

    
     <%-include('./partials/scripts')%>
</body>
</html>